:root {
    --color-primary: #450d55;
    --color-secondary:#803096;
    --color-accent:#f48c05;
    --color-headings:#2a102f;
    --color-body:#a595a8;
}

*, *::after, *::before {
    box-sizing: border-box;
}
/* Typography */

html {
    font-size: 62.5%;
}

body {
    color:var(--color-body);
    font-family:'Lato', sans-serif;
    font-size: 2.2rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem ;
}
h2 {
    font-size: 5rem;
    font-weight: 700;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 3rem;
}
/* Let the headings decide the margin above paragraph */
p {
    margin-top: 0; 
}



@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.2rem;
        line-height: 1.1;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

}
.link-arrow::after {
    content: ">";
    margin-left: 5px;
    transition: margin 0.2s;
}
.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
   .link-arrow {
    font-size: 1.6rem;
   }
}

/* Badges */

.badge {
    border-radius: 20px;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
.badge--primary {
    background: var(--color-primary);
    color: #fff;
}
.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}
.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.6rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);

}
.list--horizontal .list__item {
    display: inline-block;
    margin-right:2rem;
}
.list--bullet {
    list-style-image: url(../images/bullet.png);
    padding-left: 5rem;
    
}
.list__bullet .list__item {
    padding-left: 0.5rem;
}

/* Icons */

.icon {
    width: 50px;
    height: 50px;
}
.icon-container {
    background:#dcdcdc;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
 .button {
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    white-space: nowrap;
 }
 .button .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;

 }

 .button--primary {
    background: var(--color-primary);
    color: #fff;
 }
 .button--primary:hover {
    background: #5e1273;
 }
 .button--secondary {
    background: var(--color-secondary);
    color: #fff;
 }
 .button--secondary:hover {
    background: #a64fbe;
 }
 .button--accent {
    background: var(--color-accent);
    color: #fff;
 }
 .button--accent:hover {
    background: #efa94e;
 }
 .button--block {
    width: 100%;
    display: inline-block;
 }
 .button--outline {
    border: 2px solid var(--color-headings);
    background: #fff;
    color: var(--color-headings);
 }
 .border--outline:hover {
    background: var(--color-headings);
    color: #fff;
 }

 /* Inputs */

 .input {
    border-radius: 40px;
    border: 2px solid #ccc;
    color: var(--color-headings);
    font-size: 1.6rem;
    outline: 0;
    padding: 2rem;

 }

 ::placeholder {
    color: #ccc;
 }

 /* Input container */
 .input-container {
    border: 2px solid #ccc;
    border-radius: 40px;
    display: flex;
 }
 .input-container .button {
    margin: 5px;
 }

 .input-container .input {
    border: 0;
    flex-grow: 1;
    padding: 2rem;
 }

 /* Cards */

.card-container {
    width: 30%;
    padding: 4rem;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 20px 10px #f3f3f385;
    overflow: hidden;
  }
  
  .card__title,
  .card__body {
    padding: 2rem;
  }
  
  .card--primary .card__title {
    background: var(--color-primary);
    color: #fff;
  }
  
  .card--secondary .card__title {
    background: var(--color-secondary);
    color: #fff;
  }

  /* Courses */

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.course {
    width: 40rem;
}

.course__name {
    color: #ffffff9c;
    margin: 0;
    font-weight: bold;
    font-size: 2.2rem;
    
  }
  
  .course__price {
    font-size: 6rem;
  }
  
 
  .course__subtitle {
    font-size: 2rem;
    font-style: italic;
    display: block;
  }
  
  .course .list__item {
    margin-bottom: 2rem;
  }
  
  .course--html .card__title {
    position: relative;
  }
  .course--js .card {
    box-shadow: none;
  }


  /* Media */
  

.media {
    display: flex;
    font-style: italic;
  }
  
  .media__title {
    margin-top: 0;
  }
  
  .media__body {
    margin: 0 2rem;
  }
  
  .media__image {
    margin-top: 1rem;
  }
  
  /* Quotes */
.quote {
    font-size: 2rem;
    font-style: italic;
    color: #8f8391;
}
.quote__text::before {
    content: open-quote;
}
.quote__text::after {
    content: close-quote;
}
.author {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-headings);
}
.quote .media__body h4 {
    font-style: normal;
    font-size: 2.2rem;
    margin: 1rem 0;
    
}

/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--cols-2 {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:1024px) {
    .grid--cols-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Testimonials */

.testimonial {
    width: 1000px;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.testimonial__image {
    width: 100px;
    height: 500px;
    position: relative;
}
.testimonial__image > img {
    width:400px ;
    
}
.testimonial__image {
    position: relative;
}
.testimonial .quote {
    margin: 0;
}

/* Collapsibles */

.collapsible__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.collapsible .icon-container {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #ffffff00;
}
.collapsible .icon {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    transition: transform 0.5s;
}
.collapsible__heading {
    margin-top: 0;
    font-size: 2.4rem;
}
.collapsible__content {
    display: none;
}
.collapsible--expanded  .icon {
    transform: rotate(0deg);
    cursor: pointer;
}
.collapsible--expanded  .collapsible__content {
    max-height: 100vh;
    display: block;
}
.collapsible__content {
    max-height: 0;
    overflow: hidden;
}

/* Blocks */

.block {
    padding:6rem 2rem;
  }
  
  .block__header {
    text-align: center;
  }
  
  .block__heading {
    margin-top: 0;
  }
  
  .block--dark {
    background: #000;
    color: #ccc;
  }
  
  .block--dark .block__heading {
    color: #fff;
  }

  .block--light {
    background-color: #d9d1da;
    color: #000;
  }
  .block--light .block__heading {
    color: #111111;
  }
  
  .block--skewed-right {
    padding-bottom: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  }
  
  .block--skewed-left {
    padding-bottom: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  /* Navigation Bar */

  .nav-bar {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 1 rem;
    flex-wrap: wrap;
    padding: 20px;
  }
  .nav-bar .icon-link {
    width: 80px;
    height:64px;
  }
  .nav-bar .icon-container {
    width: 30px;
    height:30px;
    background: #ffffff00;
    padding-right: 30px;
    padding-top: 20px;
  }
  .nav-bar .icon-container .icon {
    width: 30px;
    height:30px;
    opacity: 50%;
    
    cursor: pointer;
  }

  .nav__List {
    width: 100%;
  }
  .nav__item {
    margin-top: 10px;
    padding: 2rem 2 rem;
    border-bottom: 1px solid #cccccc75;
    
  }
  .nav__item > a {
    color: #ccc;
    transition: 0.5s ease-in-out;
  }
  .nav__item > a:hover {
    color: #fff;
  }

  /* Hero Section */

  .hero__content {
    padding-top: 30%;
  }

  .hero__content p {
    font-size: 2rem;
  }

  .hero__image {
    width: 100%;
  }
  .hero__content h1 {
    font-size: 3rem;
  }
  .hero__content .block__heading {
    font-size: 6rem;
    font-weight: bold;
    
  }
  .hero__content .button--block {
    width: 50%;
  }

  @media screen and (min-width:768px) {
    .hero__content {
        text-align: left;
        align-self: center;
    }
  }

  /* Block Incognito */

  .block-incognito h2 {
    margin-bottom: 3rem;
  }
  .block-incognito .input-container {
      box-shadow:0 0 20px 20px #dfdfdf51;
      border: 0;
      margin-top: 5rem;
  }

  .block-incognito__prices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: (2,5rem);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    grid-gap: 1rem;
    
  }
  .block-incognito__prices .badge--secondary {
    font-size: 2rem;

  }

  @media screen and (min-width: 768px) {
  .block-incognito__prices {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Courses */

.course {
  box-shadow: 0;
  margin: 1rem;
  transition: 0.5s ease-in-out;
}
.course:hover {
  transform: scale(1.05);
}
.course--main:hover {
  transform: scale(1.2);
}

.courses-container .courses{
  grid-gap: 2rem;
}
.course--main {
  transform: scale(1.1);
}

@media screen and (max-width:768px) {
  .courses-container .courses {
    flex-direction: column;
  }
}

/* Features */



.features h3 {
  margin-bottom: 2rem;
}
.features {
  gap: 2rem 2rem;
  vertical-align: center;
}
.features__content {
  margin-top: 7rem;
}
.features__image {
  width: 100%;
}
.features .icon-container {
  background: #f6f5f5;
}

@media screen and (min-width:768px) {
  .features:nth-of-type(even) .features__content {
    order: 2;
  }
}