:root {
    --color-primary: #450d55;
    --color-secondary:#803096;
    --color-accent:#f48c05;
    --color-headings:#2a102f;
    --color-body:#a595a8;
}
/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family:'Lato', sans-serif;
    color:var(--color-body);
    font-size: 2.2rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem ;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
/* Let the headings decide the margin above paragraph */
p {
    margin-top: 0; 
}



@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.2rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;

}
.link-arrow::after {
    content: ">";
    margin-left: 5px;
    transition: margin 0.2s;
}
.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
   .link-arrow {
    font-size: 1.6rem;
   }
}

/* Badges */

.badge {
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    white-space: nowrap;
}
.badge--primary {
    background: var(--color-primary);
    color: #fff;
}
.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}
.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.6rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}