:root {
    --color-primary: #450d55;
    --color-secondary:#803096;
    --color-accent:#f48c05;
    --color-headings:#2a102f;
    --color-body:#a595a8;
}

*, *::after, *::before {
    box-sizing: border-box;
}
/* Typography */

html {
    font-size: 62.5%;
}

body {
    color:var(--color-body);
    font-family:'Lato', sans-serif;
    font-size: 2.2rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem ;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
/* Let the headings decide the margin above paragraph */
p {
    margin-top: 0; 
}



@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.2rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

}
.link-arrow::after {
    content: ">";
    margin-left: 5px;
    transition: margin 0.2s;
}
.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
   .link-arrow {
    font-size: 1.6rem;
   }
}

/* Badges */

.badge {
    border-radius: 20px;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
.badge--primary {
    background: var(--color-primary);
    color: #fff;
}
.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}
.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.6rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);

}
.list--horizontal .list__item {
    display: inline-block;
    margin-right:2rem;
}
.list--bullet {
    list-style-image: url(../images/bullet.png);
    padding-left: 5rem;
    
}
.list__bullet .list__item {
    padding-left: 0.5rem;
}

/* Icons */

.icon {
    width: 50px;
    height: 50px;
}
.icon-container {
    background:#dcdcdc;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
 .button {
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
    text-align: center;
    margin: 2rem 0;
 }

 .button--primary {
    background: var(--color-primary);
    color: #fff;
 }
 .button--primary:hover {
    background: #5e1273;
 }
 .button--secondary {
    background: var(--color-secondary);
    color: #fff;
 }
 .button--secondary:hover {
    background: #a64fbe;
 }
 .button--accent {
    background: var(--color-accent);
    color: #fff;
 }
 .button--accent:hover {
    background: #efa94e;
 }
 .button--block {
    width: 100%;
    display: inline-block;
 }
 .button--outline {
    border: 2px solid var(--color-headings);
    background: #fff;
    color: var(--color-headings);
 }
 .border--outline:hover {
    background: var(--color-headings);
    color: #fff;
 }