<section class="block block--dark block--skewed-right block-benefits">
  <header class="block__header">
    <h2>Benefits of our course</h2>
  </header>
  <div class="container grid grid--cols-2">
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <img class="icon" src="../images/strength.png"
            /></span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Discover Your Strength</h3>
            <p>
              Choose the technology you excel in or let us guide you to the one
              that suits you best. Unearth your true potential.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <img class="icon" src="../images/handson.png"
            /></span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Hands-On Experience</h3>
            <p>
              Our courses are rooted in real-world industrial practices.
              Graduates receive an experience certificate for skills that matter
              in the job market.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <img class="icon" src="../images/flexible.png"
            /></span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Flexible Learning</h3>
            <p>
              Learn at your own pace and on your schedule. We offer a variety of
              course formats to fit your lifestyle
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
