<section class="block container">
  <header class="block__header">
    <h2>Why you should choose us?</h2>
    <p>Unlock Your Coding Potential and Elevate Your Skills with Our Courses</p>
  </header>
  <article class="features grid grid--cols-2">
    <div class="features__content">
      <span class="icon-container">
        <img class="icon" src="images/social.png"
      /></span>
      <h3>Learning Through Examples</h3>
      <p>
        Our courses empower you to learn HTML, CSS, and JavaScript through
        practical examples. Gain valuable coding skills by working on real
        projects and exercises.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      src="images/features01.png"
      alt="Feature image"
      class="features__image"
    />
  </article>

  <article class="features grid grid--cols-2">
    <div class="features__content">
      <span class="icon-container">
        <img class="icon" src="images/study.png"
      /></span>
      <h3>Comprehensive Study Materials</h3>
      <p>
        Access a wealth of learning resources, including tutorials, guides, and
        reference materials. Learn at your own pace with our rich collection of
        educational content.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      src="images/features01.png"
      alt="Feature image"
      class="features__image"
    />
  </article>

  <article class="features grid grid--cols-2">
    <div class="features__content">
      <span class="icon-container">
        <img class="icon" src="images/write.png"
      /></span>
      <h3>1-on-1 Mentorship</h3>
      <p>
        Receive personalized guidance and mentorship from experienced
        instructors. Our 1-on-1 mentorship program ensures that you get the
        support you need to excel in your HTML, CSS, and JavaScript journey.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      src="images/features01.png"
      alt="Feature image"
      class="features__image"
    />
  </article>
</section>
