<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COURSES</h2>
        <span class="icon-container">
          <img class="icon" src="images/arrow.png" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>
        <span class="icon-container">
          <img class="icon" src="images/arrow.png" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Incognito</a></li>
          <li><a href="#">Courses</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">About Us</h2>
        <span class="icon-container">
          <img class="icon" src="images/arrow.png" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>
    </div>
    <section class="footer__logo">
      <img src="images/logo.webp" alt="Logo" />
      <p class="footer__text">Copyright 2023 Maja Grubor</p>
    </section>
  </div>
</footer>
