<section class="block container block-incognito">
  <header class="block__header">
    <h2>Starting at 10$ per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga
      quibusdam enim et? Nisi, tempore. Magni nisi quod nam tempora.
    </p>
  </header>
  <div class="input-container">
    <input type="text" class="input" placeholder="Enter text here..." />
    <button class="button button--accent">
      <img class="icon" src="images/search-white.png" />Search
    </button>
  </div>
  <ul class="list block-incognito__prices">
    <li><span class="badge badge--secondary">price 1</span></li>
    <li>price 2</li>
    <li>price 3</li>
    <li>price 4</li>
    <li>price 5</li>
    <li>price 6</li>
  </ul>
</section>
