<div class="media">
    <div class="media__image">
      <img class="icon icon--primary" src="images/html-icon.png">
    </img>
    </div>
    <div class="media__body">
      <h3 class="media__title">Kroz HTML5 kurs nauci i ovladaj strukturom veb stranica</h3>
      <p>
          Kroz ovaj kurs, naučićete kako da pravilno koristite HTML oznake za postavljanje naslova, paragrafa, slika, linkova i mnoge druge elemente koji čine veb stranicu. Bez obzira da li ste apsolutni početnik ili već imate neko iskustvo u programiranju, ovaj kurs će vam pomoći da steknete osnovno znanje i veštine za izradu vlastitih veb stranica. Započnite svoje putovanje u svet veb razvoja sa ovim kursom i postanite sposobni da stvarate impresivne veb stranice.
      </p>
    </div>
  </div>