<nav class="nav-bar collapsible">
  <a href="/"><img src="images/logo.webp" alt="Logo" class="icon-link" /></a>
  <span class="icon-container">
    <img class="icon" src="images/burger-menu.png"
  /></span>
  <ul class="list nav__List collapsible__content">
    <li class="nav__item"><a href="#">O nama</a></li>
    <li class="nav__item"><a href="#">Kursevi</a></li>
    <li class="nav__item"><a href="#">Struktura kurseva</a></li>
    <li class="nav__item"><a href="#">Cena kurseva</a></li>
  </ul>
</nav>
