<div class="card testimonial">
  <div class="testimonial__image">
    <img
      class="testimonial__image"
      src="images/DSC_2090.JPG"
      alt="Customer testimonial"
    />
  </div>

  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      praesentium repellat, sint eos sed distinctio deleniti enim soluta
      perspiciatis id?
    </p>
    <footer>
      <div class="media">
        <div class="media__body">
          <h4 class="author">Maja Grubor</h4>
          <p>Apsolvent Fakulteta organizacionih nauka</p>
        </div>
      </div>
    </footer>
  </blockquote>
</div>
