<section class="block testimonial-block">
  <header class="block">
    <h2>What Our Course Graduates Say About Us</h2>
    <p>Student Voices: Hear What Our Graduates Have to Say</p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="testimonial__image">
        <img
          class="testimonial__image"
          src="images/student.jpg"
          alt="Customer testimonial"
        />
      </div>

      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus praesentium repellat, sint eos sed distinctio deleniti
          enim soluta perspiciatis id?
        </p>
        <footer>
          <div class="media">
            <div class="media__body">
              <h4 class="author">Maja Grubor</h4>
              <p>Apsolvent Fakulteta organizacionih nauka</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
